body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  width: max-content;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px 0px;
  min-height: 100vh;
  height: 100%;
}

#canvas {
  z-index: 1;
}