@import './node_modules/mini.css/dist/mini-default.min.css';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Board {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position:fixed;
  max-width:none;
  max-height:none;
  width:100%;
  height:100%;
}

#canvas {
  z-index: 1;
  width:100%;
  height:100%;
}

.lower-canvas {
  position: inital !important;
}

.ToolMenus {
  z-index:5;
  &:empty {
    display: none;
  }
}

.ContextMenu {
  width: 200px;
  margin: 0;
  padding-left: 0;
  z-index: 6;
  position:fixed;
  display:none;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px 0px;
  min-height: 100vh;
  height: 100%;
}

.Toolbar {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: var(--background-neutral-container);
  padding: 8px 8px;
  border-radius: 4px;
  position: fixed;
  top: 0%;
  left: 8px;
  &:empty {
    display: none;
  }
}

.SidebarMenu {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: var(--background-neutral-container);
  padding: 8px 8px;
  border-radius: 4px;
  position: fixed;
  top: 0%;
  right: 8px;
  margin-right: 0;
  margin-left:auto;
  float:right;
  &:empty {
    display: none;
  }
}

.ButtonRow {
  flex-direction: column;
  justify-items:end;
  justify-content: end;
  &:empty {
    display: none;
  }
}

.BaseToken {
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-height: 150px;
  width: 110px;
}

.BaseTokenImage {
  border: 2px solid rgb(133, 133, 133);
  height: 100px;
  width: 100px;
  object-fit:cover;
}

.ImageBox {
  height:100px;
  width:100px;
}

.BaseTokenContextMenu {
  display:none;
  position:fixed;
}

.dragPane {
  position:absolute;
  justify-content:space-around;
  align-content:flex-start;
  column-gap: 10;
  background-color: rgb(252, 252, 252);
  padding-right:15px;
  padding-left:10px;
}

.paneHeader {
  cursor: move;
  position:relative;
  background-color: rgb(133, 133, 133);
}

.isDragging {
  cursor: move;
  position:relative;
  background-color: rgb(40, 40, 40);
}

.TokenCreationEditMenu {
  position:fixed;
  display:none;
}

.SceneEl {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 1px;
  align-items:center;
}

.SceneContextMenu {
  display:none;
  position:fixed;
}

.ArmorClassInitiativeRow {
  display:inline;
}